### list operations

In [2]:
l1=[1,2,3,4,7,5,8]
l2=['a','b','c','d']
print(l1[2:-3]) #sclicing
print(l2[1:3])
l1[2]='three'  #update
print(l1)
l2.append('e') #append
print(l2)
del l1[3] #delete
print(l1)
print(min(l2)) #min
m1=['x','y','z']
len(l2) #length
list(l1) #sequence
l1.pop(2) #pop
print(l1)
l2.insert(1,'A') #push
print(l2)
l1.extend(m1) #add two list
print(l1)
l1.remove(2) #remove element from list
print(l1)
l1.reverse() #invert the list
print(l1)
m2=[23,23,42,88,54,88]
m2.sort() #sort
print(m2)
del m2[1:2] #delete
print(m2)
m2[1:2]='three',4  #update
print(m2)

[3, 4]
['b', 'c']
[1, 2, 'three', 4, 7, 5, 8]
['a', 'b', 'c', 'd', 'e']
[1, 2, 'three', 7, 5, 8]
a
[1, 2, 7, 5, 8]
['a', 'A', 'b', 'c', 'd', 'e']
[1, 2, 7, 5, 8, 'x', 'y', 'z']
[1, 7, 5, 8, 'x', 'y', 'z']
['z', 'y', 'x', 8, 5, 7, 1]
[23, 23, 42, 54, 88, 88]
[23, 42, 54, 88, 88]
[23, 'three', 4, 54, 88, 88]

### set operation

In [4]:
people={"Tulika","Priyansh","Shreya","Pragya"}
print("Elements in Set 'people':",end=" ")
for i in people:    #print set using loop
    print(i,end=" ")
print()
people.add("Shivam") #adding element to set
print("Elements in Set 'people' after update:",end=" ")
for i in people:
    print(i,end=" ")
print()
cities={'Jabalpur','Bhopal','Pune'}
live=people.union(cities)   #union of two set
print("Elements in Set 'live':",end=" ")
for i in live:
    print(i,end=" ")
cities.clear()

Elements in Set 'people': Pragya Shreya Priyansh Tulika
Elements in Set 'people' after update: Shivam Shreya Priyansh Pragya Tulika
Elements in Set 'live': Jabalpur Shivam Shreya Priyansh Pragya Pune Bhopal Tulika

### tuple operations

In [6]:
t1=('hy','!','whatsup',",lets code") 
print(type(t1))
t2="ya",2019    #default is tuple
t3=('Dec',12,'/',2019)
t=t1+t2  #Concatenation of Tuples
print(t)
t4=(t1,t3) #nested tuple
print(t4) 
t5 = ('Tuples ',)*3 #repetition
print(t5)
print(t3[:1]) #slicing
print(t4[::-1]) 
print(t1[2:4])
print(len(t4)) #length

<class 'tuple'>
('hy', '!', 'whatsup', ',lets code', 'ya', 2019)
(('hy', '!', 'whatsup', ',lets code'), ('Dec', 12, '/', 2019))
('Tuples ', 'Tuples ', 'Tuples ')
('Dec',)
(('Dec', 12, '/', 2019), ('hy', '!', 'whatsup', ',lets code'))
('whatsup', ',lets code')
2

### nested dictionary

In [7]:
a={
    "x":{
        "x1":1,
        "x2":2
    },
    "y":{
        "y1":11,
        "y2":12
    },
    "z":{
        "z1":21,
        "z2":22
    }
}
print(a)

{'x': {'x1': 1, 'x2': 2}, 'y': {'y1': 11, 'y2': 12}, 'z': {'z1': 21, 'z2': 22}}

### dictionary operations

In [8]:
d1={
    "name":"Umeed",
    "branch":"CSE",
    "year":2
   }

d2={
    "sem":3,
    "sub1":"M3",
    "sub2":"algo",
    "sub3":"OS"
}

print(type(d1))
x=d1["name"]  #accessing
print(x)

<class 'dict'>
Umeed

In [9]:
d2["sem"]="semester"  #changing
print(d2)

{'sem': 'semester', 'sub1': 'M3', 'sub2': 'algo', 'sub3': 'OS'}

In [10]:
for i in d1:  #loop only key
    print(i)
print()
for i in d1.values(): #loop only value
    print(i)
print()
for i in d1.keys(): #loop only keys
    print(i)
print()
for i,j in d1.items(): #both
    print(i,j)
print()

name
branch
year

Umeed
CSE
2

name
branch
year

name Umeed
branch CSE
year 2

In [11]:
d2["sub4"]="analy"  #adding items
print(d2)

{'sem': 'semester', 'sub1': 'M3', 'sub2': 'algo', 'sub3': 'OS', 'sub4': 'analy'}

In [12]:
d1.pop("year") #remove item
print(d1)

{'name': 'Umeed', 'branch': 'CSE'}

In [13]:
del d2["sub2"] #delete item
print(d2)

{'sem': 'semester', 'sub1': 'M3', 'sub3': 'OS', 'sub4': 'analy'}

In [14]:
d3=d2.copy() #copying
d2.clear() #ereasing

print(d2)
print(d3)

{}
{'sem': 'semester', 'sub1': 'M3', 'sub3': 'OS', 'sub4': 'analy'}